<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Naaya.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7FF155DB27ADC00B072A9292770CFBA2E384FB4A</string>
				<key>dateExpires</key>
				<string>19/07/2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7FF155DB27ADC00B072A9292770CFBA2E384FB4A</string>
						<key>dateExpires</key>
						<string>19/07/2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8GNN55S9HG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8GNN55S9HG.org.reactjs.native.example.Naaya</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8GNN55S9HG</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Naaya.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f51d82de-0f2d-4acb-803c-a5ceee6d29b7</string>
				<key>dateExpires</key>
				<string>06/08/2026</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8GNN55S9HG</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
